*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1{
    width: 100%;
    height: 100%;
    border: 4px solid black;
    background: linear-gradient(to bottom, rgb(214, 224, 228), rgb(124, 180, 226), rgb(58, 73, 207));
}